/* @import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap'); */

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  color: white;
  background-color: aliceblue;
   font-family: "Gloock", serif;
  font-weight: 900;
  font-style: normal;
}

